form(action="/login", method="POST")
    div(id="content")
        h3 Log In HERE!!
        div
            input(type="text", name="username", placeholder="input username")
        div
            input(type="password", name="password", placeholder="input password")
        button(type="submit") Log In!