form(action="/signup", method="POST")
    div(id="content")
        h3 Sign Up For More Awesome Features!!
            div
                input(type="text", name="username", placeholder="chooser a username")
            div
                input(type="password", name="password", placeholder="choose password")
            button(type="submit") Create Account!